.navbar {
    background-color: skyblue;
    color: white;
    padding: 10px 20px;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: inline-block;
    margin-right: auto;
}

img {
    width: 5em;
    height: auto;
}